body{
  background-color: #253237;
}
#introductionText{
  color: #388659;
}

.instructionText{
  color: #F6AA1C;
  font-size: 20px;
}

#instructionHeading{
    text-decoration: underline;
    color: #3AAED8;
}
.text-center{
  font-size: 50px;
  color: #3AAED8;
}

.containerGame{
  border: 5px dotted #7C3238;
  background-color:#F4442E ;

}
.text-justify{
  color: #F6AA1C;
  font-size: 20px;
}

#actualGameWords{
  font-size: 80px;
  color: white;
}

#correctOrIncorrect{
  font-size: 20px;
  color: #EAF7CF;
}
#time, #scoring{
  color: lightblue;
  font-size: 20px;
}
#gameOverScore{
  color: white;
  font-size: 20px;
}


footer{
  color: white;
  font-size: 15px;
}
